# Ignore generated code & caches
app/code/SEOByTheBay/RemoveKeywords/etc/env.php
app/code/SEOByTheBay/RemoveKeywords/Plugin/PageConfig/*.log
app/**/generated/
app/**/cache/
app/**/page_cache/

# Ignore vendor & node modules (if you vendor‑commit anything)
/vendor/
/node_modules/

# IDEs and OS
/.idea/
